{% extends 'base.html' %}
{% block titleblock %}
POST DETAILS
{% endblock %}
{% block bodyblock %}


<div class="row">
    <div class="col-sm-3">
        <h2>Creator: {{post.creator}}</h2>
        <br>
        <img src="/media/{{post.post_picture}}">
        <br>
        CAPTION: {{post.caption}}
        <br>
        <br>


    </div>

    <div class="container">
        <h1>COMMENTS : </h1>
        <form method="post">
            {%csrf_token%}
            {{comment_form}}
            <button type="submit">Comment</button>
        </form>
        <br>
        {%for comment in post.post_commented.all %}
        <div class="container">
            <a href="">{{comment.user}}</a>
            <p>{{comment.comment}}</p>
        </div>
    </div>

    {%endfor%}
    {% endblock %}